* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
 color: teal;
 text-align: center;
 font-size: xxx-large;
}
.claculator {

  background-color: black;
  width: 563px;
  /* height: 1210px; */
  padding: 20px;
  border-radius: 50px;
  color: white;
  position: relative;
  margin: auto;
  margin-top: 2%;
}

.top-container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  height: 250px;
}

.display {
  font-size: 130px;
  font-weight: 300;
  margin-bottom: 20px;
  height: 150px;
  /* text-align: right; */
  margin-right: 20px;
}

.input{
  border: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  height: 150px;
  width: 500px;
  align-items: baseline;
  padding: 0px 2px;
  display: flex;
  font-size: 90px;
  text-align:right;
  color: white;
  
}

input[type="text"]:focus{
  outline: none;
  box-shadow: 0px 0px 5px #000000;
  border:0px solid #000000;
  }
 

.button-container {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.button {
  background-color: #333;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  font-size: 45px;
  transition: filter 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.button.function {
  color: black;
  background-color: #a5a5a5;
}
.button.operator {
  background: #f1a33c;
}

.button.number-0 {
  width: 250px;
  border-radius: 55px;
  justify-content: flex-start;
  padding-left: 43px;
  grid-column: 1 / span 2;
  /* grid-column-start: 1;
    grid-column-end: 3; */
}

.button:active,
.button:focus {
  filter: brightness(120%);
}

.bottom{
    padding: 2, 2px;
    width: 200px;
    height: 5px;
    color: aliceblue;
    background: white;
    background-color: white;
    border-radius: 4px;
    bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
